**å¤ä¹ ï¼š**æ•°æ®åˆ†æçš„ç¬¬ä¸€æ­¥ï¼ŒåŠ è½½æ•°æ®æˆ‘ä»¬å·²ç»å­¦ä¹ å®Œæ¯•äº†ã€‚å½“æ•°æ®å±•ç°åœ¨æˆ‘ä»¬é¢å‰çš„æ—¶å€™ï¼Œæˆ‘ä»¬æ‰€è¦åšçš„ç¬¬ä¸€æ­¥å°±æ˜¯è®¤è¯†ä»–ï¼Œä»Šå¤©æˆ‘ä»¬è¦å­¦ä¹ çš„å°±æ˜¯**äº†è§£å­—æ®µå«ä¹‰ä»¥åŠåˆæ­¥è§‚å¯Ÿæ•°æ®**ã€‚

## 1 ç¬¬ä¸€ç« ï¼šæ•°æ®è½½å…¥åŠåˆæ­¥è§‚å¯Ÿ

### 1.4 çŸ¥é“ä½ çš„æ•°æ®å«ä»€ä¹ˆ
æˆ‘ä»¬å­¦ä¹ pandasçš„åŸºç¡€æ“ä½œï¼Œé‚£ä¹ˆä¸Šä¸€èŠ‚é€šè¿‡pandasåŠ è½½ä¹‹åçš„æ•°æ®ï¼Œå…¶æ•°æ®ç±»å‹æ˜¯ä»€ä¹ˆå‘¢ï¼Ÿ

**å¼€å§‹å‰å¯¼å…¥numpyå’Œpandas**

In [13]:
import numpy as np
import pandas as pd

#### 1.4.1 ä»»åŠ¡ä¸€ï¼špandasä¸­æœ‰ä¸¤ä¸ªæ•°æ®ç±»å‹DateFrameå’ŒSeriesï¼Œé€šè¿‡æŸ¥æ‰¾ç®€å•äº†è§£ä»–ä»¬ã€‚ç„¶åè‡ªå·±å†™ä¸€ä¸ªå…³äºè¿™ä¸¤ä¸ªæ•°æ®ç±»å‹çš„å°ä¾‹å­ğŸŒ°[å¼€æ”¾é¢˜]

In [14]:
#å†™å…¥ä»£ç 
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
example_1 = pd.Series(sdata)
example_1

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [15]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
example_2 = pd.DataFrame(data)
example_2

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [16]:
'''
#æˆ‘ä»¬ä¸¾çš„ä¾‹å­
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
example_1 = pd.Series(sdata)
example_1
'''

"\n#æˆ‘ä»¬ä¸¾çš„ä¾‹å­\nsdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}\nexample_1 = pd.Series(sdata)\nexample_1\n"

In [17]:
'''
#æˆ‘ä»¬ä¸¾çš„ä¾‹å­
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
example_2 = pd.DataFrame(data)
example_2
'''

"\n#æˆ‘ä»¬ä¸¾çš„ä¾‹å­\ndata = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],\n        'year': [2000, 2001, 2002, 2001, 2002, 2003],'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}\nexample_2 = pd.DataFrame(data)\nexample_2\n"

#### 1.4.2 ä»»åŠ¡äºŒï¼šæ ¹æ®ä¸ŠèŠ‚è¯¾çš„æ–¹æ³•è½½å…¥"train.csv"æ–‡ä»¶

In [18]:
#å†™å…¥ä»£ç 
df = pd.read_csv('train.csv')
df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

ä¹Ÿå¯ä»¥åŠ è½½ä¸Šä¸€èŠ‚è¯¾ä¿å­˜çš„"train_chinese.csv"æ–‡ä»¶ã€‚é€šè¿‡ç¿»è¯‘ç‰ˆtrain_chinese.csvç†Ÿæ‚‰äº†è¿™ä¸ªæ•°æ®é›†ï¼Œç„¶åæˆ‘ä»¬å¯¹trian.csvæ¥è¿›è¡Œæ“ä½œ
#### 1.4.3 ä»»åŠ¡ä¸‰ï¼šæŸ¥çœ‹DataFrameæ•°æ®çš„æ¯åˆ—çš„åç§°

In [19]:
#å†™å…¥ä»£ç 
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

#### 1.4.4ä»»åŠ¡å››ï¼šæŸ¥çœ‹"Cabin"è¿™åˆ—çš„æ‰€æœ‰å€¼[æœ‰å¤šç§æ–¹æ³•]

In [20]:
#å†™å…¥ä»£ç 
df['Cabin'].head(3)

0    NaN
1    C85
2    NaN
Name: Cabin, dtype: object

In [21]:
#å†™å…¥ä»£ç 
df.Cabin.head(3)

0    NaN
1    C85
2    NaN
Name: Cabin, dtype: object

#### 1.4.5 ä»»åŠ¡äº”ï¼šåŠ è½½æ–‡ä»¶"test_1.csv"ï¼Œç„¶åå¯¹æ¯”"train.csv"ï¼Œçœ‹çœ‹æœ‰å“ªäº›å¤šå‡ºçš„åˆ—ï¼Œç„¶åå°†å¤šå‡ºçš„åˆ—åˆ é™¤
ç»è¿‡æˆ‘ä»¬çš„è§‚å¯Ÿå‘ç°ä¸€ä¸ªæµ‹è¯•é›†test_1.csvæœ‰ä¸€åˆ—æ˜¯å¤šä½™çš„ï¼Œæˆ‘ä»¬éœ€è¦å°†è¿™ä¸ªå¤šä½™çš„åˆ—åˆ å»

In [22]:
#å†™å…¥ä»£ç 
test_1 = pd.read_csv('test_1.csv')
test_1.head(3)

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,a
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,100
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,100
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,100

In [23]:
#å†™å…¥ä»£ç 
del test_1['a']
test_1.head(3)

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

ã€æ€è€ƒã€‘è¿˜æœ‰å…¶ä»–çš„åˆ é™¤å¤šä½™çš„åˆ—çš„æ–¹å¼å—ï¼Ÿ

In [24]:
# æ€è€ƒå›ç­”
test_1 = pd.read_csv('test_1.csv')
test_1.drop(columns = ['a']).head(3)

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

#### 1.4.6 ä»»åŠ¡å…­ï¼š å°†['PassengerId','Name','Age','Ticket']è¿™å‡ ä¸ªåˆ—å…ƒç´ éšè—ï¼Œåªè§‚å¯Ÿå…¶ä»–å‡ ä¸ªåˆ—å…ƒç´

In [25]:
#å†™å…¥ä»£ç 
df.drop(['PassengerId','Name','Age','Ticket'],axis=1).head(3)

   Survived  Pclass     Sex  SibSp  Parch     Fare Cabin Embarked
0         0       3    male      1      0   7.2500   NaN        S
1         1       1  female      1      0  71.2833   C85        C
2         1       3  female      0      0   7.9250   NaN        S

ã€æ€è€ƒã€‘å¯¹æ¯”ä»»åŠ¡äº”å’Œä»»åŠ¡å…­ï¼Œæ˜¯ä¸æ˜¯ä½¿ç”¨äº†ä¸ä¸€æ ·çš„æ–¹æ³•(å‡½æ•°)ï¼Œå¦‚æœä½¿ç”¨ä¸€æ ·çš„å‡½æ•°å¦‚ä½•å®Œæˆä¸Šé¢çš„ä¸åŒçš„è¦æ±‚å‘¢ï¼Ÿ

ã€æ€è€ƒå›ç­”ã€‘

å¦‚æœæƒ³è¦å®Œå…¨çš„åˆ é™¤ä½ çš„æ•°æ®ç»“æ„ï¼Œä½¿ç”¨inplace=Trueï¼Œå› ä¸ºä½¿ç”¨inplaceå°±å°†åŸæ•°æ®è¦†ç›–äº†ï¼Œæ‰€ä»¥è¿™é‡Œæ²¡æœ‰ç”¨

### 1.5 ç­›é€‰çš„é€»è¾‘

è¡¨æ ¼æ•°æ®ä¸­ï¼Œæœ€é‡è¦çš„ä¸€ä¸ªåŠŸèƒ½å°±æ˜¯è¦å…·æœ‰å¯ç­›é€‰çš„èƒ½åŠ›ï¼Œé€‰å‡ºæˆ‘æ‰€éœ€è¦çš„ä¿¡æ¯ï¼Œä¸¢å¼ƒæ— ç”¨çš„ä¿¡æ¯ã€‚

ä¸‹é¢æˆ‘ä»¬è¿˜æ˜¯ç”¨å®æˆ˜æ¥å­¦ä¹ pandasè¿™ä¸ªåŠŸèƒ½ã€‚

#### 1.5.1 ä»»åŠ¡ä¸€ï¼š æˆ‘ä»¬ä»¥"Age"ä¸ºç­›é€‰æ¡ä»¶ï¼Œæ˜¾ç¤ºå¹´é¾„åœ¨10å²ä»¥ä¸‹çš„ä¹˜å®¢ä¿¡æ¯ã€‚

In [26]:
#å†™å…¥ä»£ç 
df[df["Age"]<10].head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.075,NaN,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.700,G6,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.125,NaN,Q

#### 1.5.2 ä»»åŠ¡äºŒï¼š ä»¥"Age"ä¸ºæ¡ä»¶ï¼Œå°†å¹´é¾„åœ¨10å²ä»¥ä¸Šå’Œ50å²ä»¥ä¸‹çš„ä¹˜å®¢ä¿¡æ¯æ˜¾ç¤ºå‡ºæ¥ï¼Œå¹¶å°†è¿™ä¸ªæ•°æ®å‘½åä¸ºmidage

In [27]:
#å†™å…¥ä»£ç 
midage = df[(df["Age"]>10) & (df["Age"]<50)]
midage.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

ã€æç¤ºã€‘äº†è§£pandasçš„æ¡ä»¶ç­›é€‰æ–¹å¼ä»¥åŠå¦‚ä½•ä½¿ç”¨äº¤é›†å’Œå¹¶é›†æ“ä½œ

#### 1.5.3 ä»»åŠ¡ä¸‰ï¼šå°†midageçš„æ•°æ®ä¸­ç¬¬100è¡Œçš„"Pclass"å’Œ"Sex"çš„æ•°æ®æ˜¾ç¤ºå‡ºæ¥

In [32]:
#å†™å…¥ä»£ç 
#é‡ç½®ç´¢å¼•ï¼Œdrop=Trueå°±æ˜¯æŠŠåŸæ¥çš„ç´¢å¼•indexåˆ—å»æ‰ï¼Œé‡ç½®index
midage = midage.reset_index(drop=True)
midage.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [33]:
midage.loc[[100],['Pclass','Sex']]

     Pclass   Sex
100       2  male

ã€æç¤ºã€‘åœ¨æŠ½å–æ•°æ®ä¸­ï¼Œæˆ‘ä»¬å¸Œæœ›æ•°æ®çš„ç›¸å¯¹é¡ºåºä¿æŒä¸å˜ï¼Œç”¨ä»€ä¹ˆå‡½æ•°å¯ä»¥è¾¾åˆ°è¿™ä¸ªæ•ˆæœå‘¢ï¼Ÿ

#### 1.5.4 ä»»åŠ¡å››ï¼šä½¿ç”¨locæ–¹æ³•å°†midageçš„æ•°æ®ä¸­ç¬¬100ï¼Œ105ï¼Œ108è¡Œçš„"Pclass"ï¼Œ"Name"å’Œ"Sex"çš„æ•°æ®æ˜¾ç¤ºå‡ºæ¥

In [34]:
#å†™å…¥ä»£ç 
midage.loc[[100,105,108],['Pclass','Name','Sex']]

     Pclass                               Name   Sex
100       2  Byles, Rev. Thomas Roussel Davids  male
105       3           Cribb, Mr. John Hatfield  male
108       3                    Calic, Mr. Jovo  male

#### 1.5.5 ä»»åŠ¡äº”ï¼šä½¿ç”¨ilocæ–¹æ³•å°†midageçš„æ•°æ®ä¸­ç¬¬100ï¼Œ105ï¼Œ108è¡Œçš„"Pclass"ï¼Œ"Name"å’Œ"Sex"çš„æ•°æ®æ˜¾ç¤ºå‡ºæ¥

In [36]:
#å†™å…¥ä»£ç 
midage.iloc[[100,105,108],[2,3,4]]

     Pclass                               Name   Sex
100       2  Byles, Rev. Thomas Roussel Davids  male
105       3           Cribb, Mr. John Hatfield  male
108       3                    Calic, Mr. Jovo  male

ã€æ€è€ƒã€‘å¯¹æ¯”`iloc`å’Œ`loc`çš„å¼‚åŒ

.ilocå°±æ˜¯é€šè¿‡è¡Œ/åˆ—å·æ¥é€‰å–æ•°æ®ï¼Œä½ç½®ç´¢å¼•.0ï¼Œ1ï¼Œ2

.loc()å‡½æ•°æ˜¯é€šè¿‡æ ‡ç­¾é€‰å–æ•°æ®ã€‚1ï¼Œ2ï¼Œ3